{% load static %}
<html>
<head>
  <title>Car Number Plates</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/16.3.2/umd/react.production.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react-dom/16.3.2/umd/react-dom.production.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <script type="text/babel">
    class NumberPlate extends React.Component {
      constructor(props) {
          super(props);
          this.state = {
            'error_message': null,
          };
          this.handleNumberPlateChange = this.handleNumberPlateChange.bind(this);
          this.handleOwnerChange = this.handleOwnerChange.bind(this);
          this.handleDelete = this.handleDelete.bind(this);
          this.toggleEditable = this.toggleEditable.bind(this);
        };
        handleNumberPlateChange(event) {
          this.props.onNumberPlateChange({
            "number_plate": event.target.value,
            "number_plate_id": this.props.number_plate_id,
            "owner_id": this.props.owner_id,
            "owner": this.props.owner,
            "deleted": this.props.deleted,
            "editable": this.props.editable
          });
        };
        handleOwnerChange(event) {
          var owner = '';
          for (var i=0; i < this.props.owners.length; i++) {
            if (this.props.owners[i].owner_id === event.target.value) {
              owner = this.props.owners[i].first_name + ' ' + this.props.owners[i].last_name;
              break;
            };
          };
          this.props.onNumberPlateChange({
            "number_plate": this.props.number_plate,
            "number_plate_id": this.props.number_plate_id,
            "owner_id": event.target.value,
            "owner": owner,
            "deleted": this.props.deleted,
            "editable": this.props.editable
          });
        };

        toggleEditable(event) {
          if (this.props.editable === true) {

            function handlePATCHresponse(resp) {
              if (resp.status != 200) {
                resp.json().then(json => {
                  this.setState({'error_message': json[Object.keys(json)[0]]});
                })
              } else {
                this.setState({'error_message': null});
                this.props.onNumberPlateChange({
                  "number_plate": this.props.number_plate,
                  "number_plate_id": this.props.number_plate_id,
                  "owner_id": this.props.owner_id,
                  "owner": this.props.owner,
                  "deleted": this.props.deleted,
                  "editable": false
                });
              };
            };
            handlePATCHresponse = handlePATCHresponse.bind(this);

            fetch('/api/numberplates/'+ this.props.number_plate_id + '/' , {
              method: 'PATCH',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                'owner': this.props.owner_id,
                'number': this.props.number_plate,
                'id': this.props.number_plate_id})
              }).then(handlePATCHresponse
              ).catch(function (err) {
            });
          };
          if (this.props.editable === false) {
            this.props.onNumberPlateChange({
              "number_plate": this.props.number_plate,
              "number_plate_id": this.props.number_plate_id,
              "owner_id": this.props.owner_id,
              "owner": this.props.owner,
              "deleted": this.props.deleted,
              "editable": true
            });
          };
        };

        handleDelete(event) {
          function handleDELETEResponse(resp) {
            this.props.onNumberPlateChange({
              "number_plate": this.props.number_plate,
              "number_plate_id": this.props.number_plate_id,
              "owner_id": this.props.owner_id,
              "owner": this.props.owner,
              "deleted": true,
              "editable": this.props.editable
            });
          };
          handleDELETEResponse = handleDELETEResponse.bind(this);

          fetch('/api/numberplates/' + this.props.number_plate_id + '/', {
            method: 'DELETE',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
          }).then(handleDELETEResponse);
        };

        render() {
          if (this.props.deleted === true) return null;
          if (this.props.editable === true) {
            return (
            <tr>
              <td>
                <ErrorMessage error_message={ this.state.error_message }/>
                <input size="7" onChange={ this.handleNumberPlateChange } value={ this.props.number_plate }/>
              </td>
              <td>
                <select id='owner-edit' ref='owner' name='owner' value={this.props.owner_id} onChange={this.handleOwnerChange}>
                  <OwnerOptions owners={ this.props.owners } show_no_selection={ false } />
                </select>
              </td>
              <td>
                <button type="button" onClick={ this.toggleEditable }> Save </button>
                <button type="button" onClick={ this.handleDelete }> Delete </button>
              </td>
            </tr>
            );
          };
          return (
          <tr>
            <td>
              { this.props.number_plate }
            </td>
            <td>
              { this.props.owner }
            </td>
            <td>
              <button type="button" onClick={ this.toggleEditable }> Edit </button>&nbsp;
              <button type="button" onClick={ this.handleDelete }> Delete </button>
            </td>
          </tr>
          );
        }
     };

    class ErrorMessage extends React.Component {
        render() {
          if (this.props.error_message === null) return null;
          return (
            <div>{ this.props.error_message }</div>
          )
        };
    }

    class OwnerOptions extends React.Component {
      render() {
        if (this.props.show_no_selection === true) {
          return ([
            <option value="-1">------------</option>,
            this.props.owners.map(function(owner) {
              if (owner.deleted === true) return null;
              return <option value={ owner.owner_id }>{ owner.first_name } { owner.last_name }</option>
            })
          ])
        };
        return (this.props.owners.map(function(owner) {
          if (owner.deleted === true) return null;
          return <option value={ owner.owner_id }>{ owner.first_name } { owner.last_name }</option>
        }))
      };
    };

    class NumberPlateTable extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          new_number_plate: '',
          new_owner_id: '-1',
          error_message: null
        };

        this.resetNewNumberPlateState = this.resetNewNumberPlateState.bind(this);
        this.handleOwnerChange = this.handleOwnerChange.bind(this);
        this.handleNumberPlateChange = this.handleNumberPlateChange.bind(this);
        this.handleCreate = this.handleCreate.bind(this);
      };

      resetNewNumberPlateState() {
        this.setState({new_number_plate: '', new_owner_id: '-1', error_message: null});
      };

      handleOwnerChange(event) {
        this.setState({new_owner_id: event.target.value});
      };

      handleNumberPlateChange(event) {
        this.setState({new_number_plate: event.target.value});
      };

      handleCreate(event) {
        event.preventDefault();
        function handlePOSTResponse(resp) {
          if (resp.status !== 201) {
            resp.json().then(json => {
              this.setState({'error_message': json[Object.keys(json)[0]]});
            })
          } else {
            resp.json().then(json => {
              var new_element = {
                owner_id: this.state.new_owner_id,
                number_plate: this.state.new_number_plate,
                number_plate_id: json['id'].toString(),
              };

              for (var i=0; i < this.props.owners.length; i++) {
                if (this.props.owners[i].owner_id === this.state.new_owner_id) {
                  new_element['owner'] = this.props.owners[i].first_name + ' ' + this.props.owners[i].last_name;
                  break;
                };
              };
              this.props.onNumberPlateCreate(new_element);
              this.resetNewNumberPlateState();
            });
          };
        };
        handlePOSTResponse = handlePOSTResponse.bind(this);

        fetch('/api/numberplates/', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            'owner': this.state.new_owner_id,
            'number': this.state.new_number_plate
          })
        }).then(handlePOSTResponse).catch(function (err) {
        });
      };

      render() {
        return ([
          <tr>
            <td colspan="3">
              <form onSubmit={ this.handleCreate }>
                {% csrf_token %}
                <ErrorMessage error_message={ this.state.error_message }/>
                  <input type="text" placeholder="Number plate" size="12" onChange={ this.handleNumberPlateChange } value={ this.state.new_number_plate } />
                  <select value={ this.state.new_owner_id } onChange={this.handleOwnerChange}>
                    <OwnerOptions owners={ this.props.owners } show_no_selection={ true } />
                  </select>
                  <button type="submit"> Create </button>
              </form>
            </td>
          </tr>,
          this.props.number_plates.map(data => {
            return <NumberPlate number_plate={data.number_plate} number_plate_id={data.number_plate_id} owners={ this.props.owners }
                                owner={data.owner} owner_id={data.owner_id} deleted={data.deleted} editable={ data.editable }
                                onNumberPlateChange={this.props.onNumberPlateChange} />
          })
        ]);
      }
    };

    class Owner extends React.Component {
      constructor(props) {
        super(props);
        this.state = {'error_message': null};
        this.handleFirstNameChange = this.handleFirstNameChange.bind(this);
        this.handleLastNameChange = this.handleLastNameChange.bind(this);
        this.handleDelete = this.handleDelete.bind(this);
        this.toggleEditable = this.toggleEditable.bind(this);
      };

      handleFirstNameChange(event) {
        this.props.onOwnerChange({
          owner_id: this.props.owner_id,
          first_name: event.target.value,
          last_name: this.props.last_name,
          deleted: this.props.deleted,
          editable: this.props.editable
        })
      };

      handleLastNameChange(event) {
        this.props.onOwnerChange({
          owner_id: this.props.owner_id,
          first_name: this.props.first_name,
          last_name: event.target.value,
          deleted: this.props.deleted,
          editable: this.props.editable
        })
      };

      toggleEditable(event) {
        if (this.props.editable === true) {
            function handlePATCHresponse(resp) {
              if (resp.status != 200) {
                resp.json().then(json => {
                  this.setState({'error_message': json[Object.keys(json)[0]]});
                })
              } else {
                this.setState({'error_message': null});
                this.props.onOwnerChange({
                  owner_id: this.props.owner_id,
                  first_name: this.props.first_name,
                  last_name: this.props.last_name,
                  deleted: this.props.deleted,
                  editable: !this.props.editable
                })
              };
            };
            handlePATCHresponse = handlePATCHresponse.bind(this);


          fetch('/api/owners/'+ this.props.owner_id + '/' , {
            method: 'PATCH',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              'first_name': this.props.first_name,
              'last_name': this.props.last_name,
              'id': this.props.owner_id})
          }).then(handlePATCHresponse
          ).catch(function (err) {
          });


        } else {
            this.props.onOwnerChange({
              owner_id: this.props.owner_id,
              first_name: this.props.first_name,
              last_name: this.props.last_name,
              deleted: this.props.deleted,
              editable: true
            });
        };

      };

      handleDelete(event) {
        function handleDELETEResponse(resp) {
          this.props.onOwnerChange({
            owner_id: this.props.owner_id,
            first_name: this.props.first_name,
            last_name: this.props.last_name,
            deleted: true,
            editable: !this.props.editable
          })
        };
        handleDELETEResponse = handleDELETEResponse.bind(this);

        fetch('/api/owners/' + this.props.owner_id + '/', {
          method: 'DELETE',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
        }).then(handleDELETEResponse);
      };

      render() {
        if (this.props.deleted === true) return null;
        if (this.props.editable === true) {
          return (
            <tr>
              <td>
                <ErrorMessage error_message={ this.state.error_message }/>
                <input placeholder="First name" size="14" onChange={ this.handleFirstNameChange } value={ this.props.first_name }/>
                <input placeholder="Last name" size="14" onChange={ this.handleLastNameChange } value={ this.props.last_name }/>
              </td>
              <td>
                <button type="button" onClick={ this.toggleEditable }> Save </button>
                <button type="button" onClick={ this.handleDelete }> Delete </button>
              </td>
            </tr>
          );
        };
        return (
          <tr>
            <td>
              { this.props.first_name } { this.props.last_name }
            </td>
            <td>
              <button type="button" onClick={ this.toggleEditable }> Edit </button>
              <button type="button" onClick={ this.handleDelete }> Delete </button>
            </td>
          </tr>
        );
      };
    };

    class OwnerTable extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          new_first_name: '',
          new_last_name: '',
          error_message: null
        };

        this.resetNewOwnerState = this.resetNewOwnerState.bind(this);
        this.handleFirstNameChange = this.handleFirstNameChange.bind(this);
        this.handleLastNameChange = this.handleLastNameChange.bind(this);
        this.handleCreate = this.handleCreate.bind(this);
      };

      resetNewOwnerState(event) {
        this.setState({new_first_name: '', new_last_name: ''});
      };

      handleFirstNameChange(event) {
        this.setState({new_first_name: event.target.value});
      };

      handleLastNameChange(event) {
        this.setState({new_last_name: event.target.value});
      };

      handleCreate(event) {
        event.preventDefault();

        function handlePOSTResponse(resp) {
          if (resp.status != 201) {
            resp.json().then(json => {
              this.setState({'error_message': json[Object.keys(json)[0]]});
            })
          } else {
            this.setState({'error_message': null});
            resp.json().then(json => {
              var new_element = {
                owner_id: json['id'].toString(),
                first_name: this.state.new_first_name,
                last_name: this.state.new_last_name,
              };
              this.resetNewOwnerState();
              this.props.onOwnerCreate(new_element);
            });
          };

        };
        handlePOSTResponse = handlePOSTResponse.bind(this);

        fetch('/api/owners/', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            first_name: this.state.new_first_name,
            last_name: this.state.new_last_name,
            number_plate: []
          })
        }).then(handlePOSTResponse).catch(function (err) {
        });
      };

      render() {
        return ([
          <tr>
            <td colspan="2">
              <form onSubmit={ this.handleCreate }>
                <ErrorMessage error_message={ this.state.error_message }/>
                <input type="text" size="12" placeholder="First name" value={ this.state.new_first_name } onChange={ this.handleFirstNameChange } />
                <input type="text" size="12" placeholder="Last name" value={ this.state.new_last_name } onChange={ this.handleLastNameChange } />
                <button type="submit"> Create </button>
              </form>
            </td>
          </tr>,
          this.props.owners.map(data => {
            return <Owner first_name={data.first_name} last_name={data.last_name} owner_id={data.owner_id}
                          deleted={data.deleted} editable={ data.editable } onOwnerChange={ this.props.onOwnerChange }/>
        })]);
      }
    };

    class OwnerAndNumberPlateTables extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          owners: [
            {% for owner in owners %}
              {
                'owner_id': '{{ owner.pk }}',
                'first_name': '{{ owner.first_name }}',
                'last_name': '{{ owner.last_name }}',
                'deleted': false,
                'editable': false
              },
            {% endfor %}
          ],
          number_plates: [
            {% for number_plate in number_plates %}
              {
                'number_plate_id': '{{ number_plate.pk }}',
                'number_plate': '{{ number_plate }}',
                'owner': '{{ number_plate.owner }}',
                'owner_id': '{{ number_plate.owner.pk }}',
                'deleted': false,
                'editable': false
              },
            {% endfor %}
          ]
        };

        this.handleNewOwner = this.handleNewOwner.bind(this);
        this.handleNewNumberPlate = this.handleNewNumberPlate.bind(this);
        this.handleNumberPlateChange = this.handleNumberPlateChange.bind(this);
        this.handleOwnerChange = this.handleOwnerChange.bind(this);
      };

      handleNumberPlateChange(number_plate) {
        var number_plates = [];
        for (var i=0; i < this.state.number_plates.length; i++) {
          if (number_plate["number_plate_id"] === this.state.number_plates[i].number_plate_id) {
            number_plates.push(number_plate);
          } else {
            number_plates.push(this.state.number_plates[i]);
          };
        };
        this.setState({number_plates: number_plates});
      };

      handleOwnerChange(owner) {
        var owners = [];
        for (var i=0; i < this.state.owners.length; i++ ){
          if (this.state.owners[i].owner_id === owner.owner_id) {
            owners.push(owner);
            var number_plates = [];
            for (var j=0; j < this.state.number_plates.length; j++) {
              number_plates.push(this.state.number_plates[j]);
              if (this.state.number_plates[j].owner_id === owner.owner_id) {
                number_plates[number_plates.length-1].owner = owner.first_name + ' ' + owner.last_name;
                if (owner.deleted === true) {
                  number_plates[number_plates.length-1].deleted = true;
                };
              };
            };
            this.setState({number_plates: number_plates});
          } else {
            owners.push(this.state.owners[i]);
          };
        };
        this.setState({owners: owners});
      };

      handleNewOwner(new_owner) {
        this.setState({owners: [...this.state.owners, {
          'owner_id': new_owner.owner_id.toString(),
          'first_name': new_owner.first_name,
          'last_name': new_owner.last_name,
          'deleted': false,
          'editable': false
        }]});
      };

      handleNewNumberPlate(new_number_plate) {
        this.setState({number_plates: [...this.state.number_plates, {
          'number_plate_id': new_number_plate.number_plate_id,
          'number_plate': new_number_plate.number_plate,
          'owner': new_number_plate.owner,
          'owner_id': new_number_plate.owner_id,
          'deleted': false,
          'editable': false
        }]});
      };

      render() {
        return ([
          <div>
            <table>
              <thead>
                <tr>
                  <th>Owner</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <OwnerTable owners={ this.state.owners } onOwnerCreate={ this.handleNewOwner } onOwnerChange={ this.handleOwnerChange } />
              </tbody>
            </table>
          </div>,
          <div>
            <table>
              <thead>
                <tr>
                  <th>Car number plate</th>
                  <th>Owner</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <NumberPlateTable owners={ this.state.owners } number_plates={ this.state.number_plates }
                  onNumberPlateCreate={ this.handleNewNumberPlate } onNumberPlateChange={ this.handleNumberPlateChange }/>
              </tbody>
            </table>
          </div>
        ])
      };
    };

    ReactDOM.render(
      <OwnerAndNumberPlateTables />,
      document.getElementById('root')
    );
  </script>
</head>

<body>
  <div id="root" />
</body>
</html>
