<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
  <div style="width:500px; margin:5% auto;">
    <div style="margin-bottom: 30px;">
      <table class='table-striped table-bordered' cellpadding="10">
        <thead>
          <tr>
            <th>Car number plate</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          {% for number_plate in number_plates %}
            <tr>
              <td>{{ number_plate }}</td>
              <td>{{ number_plate.owner }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
      <table class='table-striped table-bordered' cellpadding="10" >
        <thead>
          <tr>
            <th>Owner</th>
            <th>Car number plates owned</th>
          </tr>
        </thead>
        <tbody>
          {% for owner in owners %}
            <tr >
              <td>{{ owner }}</td>
              <td>
                {% for number_plate in number_plates %}
                  {{ number_plate }}{% if not forloop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
